


{% extends "header_footer.html" %}


{% block head %}


{{super()}}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/loginStyle.css') }}">

<link rel="icon" type="image/x-icon" href="{{ url_for('static' , filename='ic.ico') }}">


{% endblock %}

{% block scripts %}
<script src="/static/scripts/jquery3.5.1.js"></script>
<script src="/static/scripts/loginScripts.js"></script>
{% endblock %}



{% block content %}

<div id='login_content'>

    <h1 class='sign_in_title'>Sign in to Madd Scheduling</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul>
        {% for message in messages %}
            <li class='flashed_message'>{{ message }}</li>
        {% endfor %}
    </ul>
        {% endif %}
        {% endwith %}

    <div class='form_outline'>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            <div class='label_div'> {{ form.username.label(class='username_label') }} </div>

            <div class='input_div' > {{ form.username(size=32, class='username_input') }} </div>

            <div class='label_div' > {{ form.password.label(class='password_label') }} </div>

            <div class='input_div' > {{ form.password(size=32 , class= 'password_input') }} </div>

            <!-- <div> {{ form.remember_me() }} {{ form.remember_me.label }} </div> -->

            <div> {{ form.submit(class='submit_button') }}</div>
        </form>
    </div>
</div>

{% endblock %}